[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
graphene = "*"
graphql-core = "==3.1"
flask-graphql = "*"

[dev-packages]

[requires]
python_version = "3.7"
